* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 1000px;

}

body {
	text-shadow: 1px 1px 15px #000000;
	font-family: 'Raleway' , sans-serif;
	background: 
	
	linear-gradient(
	rgba(80, 80, 80, 0.60),
	rgba(70, 70, 70, 0.70)
	),
	url(../images/pexels-photo-164357.jpeg)
	;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;	

}

.container {
	display: flex;
	align-items: center;
	width: 90%;
}

.overview {
	padding: 3rem;
}

/* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  width: 50%;
  height:8%;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {

  margin-top:  10px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {

  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {

  /*background-color: #990012;*/
  color: white;
}
.signup-btn {
	padding: 6px;
	margin-top: 15px;
	float: right;
	position: relative;
	color: white;
	border: 2px solid;
	border-radius: 20px;
/*	background-image: 
	background-origin: border-box;*/
	/*background-clip: content-box, border-box;*/
}

.signup-btn span {
	display: block;
	padding: 8px 22px;
}
.fullname {
	font-size: 30px;
	color: #ffffff;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .5rem;
}

.banner {
	width: 80%;
	height: 85%;
	left: 130px;
	position: absolute;
	color: white;
}

.belowbanner {
	width: 50%;
	float-left;
}

.belowbanner h1 {
	font-size: 50px;
	width: 940px;
	position: relative;
	margin-left: -15px;
}
.mylogo img {
	margin-top: -18px;
	width: 60px;
	height: 60px;
}

.job-title {
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

.description {
	font-size: 17px;
	color: #ffffff;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}

main {
	min-height: 100vh;
	display:  flex;
	align-items: center;
	justify-content: center;
}

hr {

	width: 30rem;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin: 1.5rem 0;
}

a {
	color: #9af1fc;
	text-decoration: none;
}

.works {
	color: #ffc107;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2{
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

.works img {
	width: 70px;
	height: 70px;
	object-fit: cover;
}

.social-media a {
	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media a:hover {	
	opacity: 1;
}

.ad {
	color: #ffffff;
	margin: .5rem;
	font-size: 1rem;
}

.image-container {
	width: 100%;
	padding: 3rem;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid #00cccc;
	margin: auto;
	display: block;
}

@media (max-width: 980px) {
.container {
flex-direction: column;
}

.image-container {
width: 100%;
padding: 3rem 0 0;
}

.overview {
order: 1;
padding: 3rem 0;
}

main {
background:
linear-gradient(
rgba(80, 80, 80, 0.60),
rgba(70, 70, 70, 0.70)
),
url(../images/pexels-photo-164357.jpeg);
}

.fullname,
.job-title {
text-align: center;
}

.job-title {
font-weight: bolder;
}

.description {
text-align: center;
}

hr {
margin: auto;
}

.contact-btn {
display: block;
margin: auto;
}

.social-media {
text-align: center;
margin-top: 3rem;
}

.ad {
text-align: center;
}

.works {
text-align: center;
}
}
